// #include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

// / {
//     chosen {
//         zephyr,display = &gc9a01_240x240;
//     };

//     mipi_dbi {
//         compatible = "zephyr,mipi-dbi-spi";
//         spi-dev = <&spi0>;
//         dc-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
//         reset-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
//         https://www.digikey.nl/en/maker/tutorials/2025/introduction-to-zephyr-part-10-graphics-with-lvgl-and-display-drivers
//     }

    
// }